﻿@model WebApplication3.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd class="form-control"  style="width:400px">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="form-control" style="width:400px">
            @Html.EditorFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Picture)*@
            <img src='@Url.Action( "CategoryImage", "Categories", new { id = Model.CategoryID } )' height="80" />

        </dd>

    </dl>
</div>

<div>
<table>
    <tr>
@for (int i = 0; i < 4; i++)
{
        <td id="@i">
            <h4>Selle kategooria tooted</h4>
            @{
                <p>@Html.DropDownList("Tooted", null, "-- vali --" ,htmlAttributes: new { @class = "form-control", onchange = $"TeeMidagi({i})", id = "dropdown" })</p>
                <table>
                    <tr>
                        <td>Nimetus:</td>
                        <td id="nimetus" class="form-control henn">y</td>
                    </tr>
                    <tr>
                        <td>Hind:</td>
                        <td id="hind" class="form-control henn">y</td>
                    </tr>
                    <tr>
                        <td>Laos:</td>
                        <td id="laos" class="form-control henn">y</td>
                    </tr>
                </table>
                <p>Silumisinfo:</p><p id="demo" class="text-danger"></p>
            }

        </td>
 }
 

    </tr>
</table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    function TeeMidagi(n)
    {
        $('#'+n).find('.henn').text("");
        $.ajax({
            url: "/api/products/" + $('#' + n).find("#dropdown").val(),
            success: function (result)
            {
                $('#' + n).find("#nimetus").text(result.ProductName);
                $('#' + n).find("#hind").text(result.UnitPrice);
                $('#' + n).find("#laos").text(result.UnitsInStock);
            },
            error: function (result) { $("$demo").text("error:" + result);$("$demo").show()}
                    });
    }
</script>
